.link {

    margin: 3px 0;

    /* text-align: center; */

    font-size: 19px;
    
    color: white;

  }

  .link a{

    color: yellow;
    text-decoration: none; 

  }
  .link a:hover{
      color: orange;
      text-decoration: underline;
  }
  .re{
      background-image: url(../../assets/Images/banner2.jpg);
  }
  