  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
     body{
        background-image: url(../../assets/Images/banner2.jpg);
        background-size:100%;
        background-repeat: no-repeat;
      }
    </style>
    <title>Document</title>
   
  </head>
  <body class="log" >
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="card mb-5">
            <div class="card-body">
              <h1 class="card-title" style="color: black; text-align: center; margin-bottom: 40px; font-weight: bold;"> Login </h1>
             <form  >
              <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
              <!-- <div class="alert alert-success" *ngIf='loginSuccess'>{{successMessage}}</div> -->
                 <label class="lab fon" style="color: black;" >Enter Username:</label>
                 <input type="text" class="form-control uname" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="UserName" required > <br>
                 <label class="lab fon" style="color: black;" >Enter password:</label><br>
                 <input type="password" class="form-control pname" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required> <br>
             </form>
             <a ><button class="btn btn-success lab" (click)=handleLogin() >Sign In</button></a>
             <br><br>
             <div class="forget"> <a  href="forgetpassword">Forget Password</a></div>
              <div class="link">Don't have an account? <a  href="registration">Sign up</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="container login">
        <div class="row justify-content-center">
            <div class="col-sm-4">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title" style="color: black; text-align: center; margin-bottom: 40px;"> Login </h4>
                 <form name="my_form" onsubmit="myfun();">
                     <label class="lab fon" style="color: black;" >Enter Username:</label>
                     <input type="text" class="form-control uname" id="u_name" placeholder="UserName" required> <br>
                     <label class="lab fon" style="color: black;" >Enter password:</label><br>
                     <input type="password" class="form-control pname" id="p_name" placeholder="Password" required> <br>
                     <button type="submit" class="btn btn-success lab" >Sign In</button>
                 </form><br><br>
                 <div class="forget"> <a  href="forgetpassword">Forget Password</a></div>
                  <div class="link">Don't have an account? <a  href="registration">Sign up</a></div>
                </div>
              </div>
            </div>
            </div>
      </div> -->
  </body>
  </html>
