<div class="container-fluid">
  <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/Tamilnadu2.png" alt="Random first slide" height="900px" width="1350px">
      </div>
      <div class="carousel-caption">
       <a href="tamilnadu"><button class="btn">
        VIEW DETAILS
      </button></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/shimala1.png"  height="900px" width="1350px" >
      </div>
      <div class="carousel-caption">
        <div class="headings">
      </div>
      <a href="shimla"><button class="btn">
        VIEW DETAILS
      </button></a>
        
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/Tajmahal.png"  height="900px" width="1350px" >
      </div>
      <div class="carousel-caption">
        <div class="headings">
          <!-- <h4>NEW DELHI</h4> -->
        </div>
        <a href="newdelhi"><button class="btn">
          VIEW DETAILS
        </button></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/kerela1.png" alt="Random first slide" height="900px" width="1350px">
      </div>
      <div class="carousel-caption">
      <a href="kerala"> <button class="btn">
        VIEW DETAILS
      </button></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/ladakh.png"  height="900px" width="1350px" >
      </div>
      <div class="carousel-caption">
       <a href="ladakh"> <button class="btn">
        VIEW DETAILS
      </button></a>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img src="../../assets/Images/Goa1.png" height="900px" width="1350px" >
      </div>
      <div class="carousel-caption">
       <a href="goa"> <button class="btn">
        VIEW DETAILS
      </button></a>
      </div>
    </ng-template>
  </ngb-carousel>
  </div>