<div class="container-fluid">
  <h1>
  
  </h1>
 <ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src="../../assets/Images/re2.jpg"  alt="Random first slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3 >Shimla</h3>
        <p>If you visit Shimla you shouldn't be concerned about security because it feels so safe where ever you go.We really enjoyed our stay at the hill resort.it is a very calm place which is full of greenery.it's just a great place to be<br> Rating:4.5/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src="../../assets/Images/re3.jpg" alt="Random second slide" height="100%" width="100%">
      </div>
      
      <div class="carousel-caption">
        <h3>Kodaikanal</h3>
        <p>Kodaikanal is worth visiting! There are many things to do and places to visit in Kodaikanal that can make your holiday more fun and memorable.However avoid staying to late after dark. For one, you can easily get lost if there is fog / mist.<br> Rating:4/5</p>
      </div>
  
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re6.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Ladhak</h3>
        <p>Ladhak is very fascinating and attractive place for tourists.Trip'n'Trek had organized excellent trip,the itinerary was full and very complete, the food was outstanding, We had delicious & unlimited food at each & every place.We can't think of any bad parts of the trip.Thanks for a wonderful vacation.The whole experience was amazing.<br> Rating:4.5/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re7.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Dudhsagar Falls</h3>
        <p>Day well spend in the arms of nature.Dudhsagar waterfall view from top part is just fantastic. Memories which we will always keep in our heart.Most safe mode is to take jeep ride which almost cost Rs.400 per head which is quite cheap and safe compare to bike ride.Only the journey is quite long as it takes too much time for travelling.<br> Rating:4/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re15.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Tajmahal</h3>
        <p>Very impressive, beautiful and majestic place!.we really have no words for describe it's beauty and architecture.We suffer to take solo pictures with tajmahal because there will be more people.We suggest be careful with people around us because there will be thiefs.<br> Rating:4.1/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re9.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Ponmudi</h3>
        <p>Ponmudi is one of the best hill stations we can never forget.It is a waterfalls spot. But you will enjoy the forest and trekking more than you enjoy the waterfalls.Infact you will enjoy the rain here, if you are a rain lover. Leeches are not found in this place, so safe in all aspect.<br> Rating:4.2/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re11.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>River Rafting</h3>
        <p>It was one of the most entertaining and fun filled journey we have been through.Thrilling rapids added a lot of flavour to the trip.<br> Rating:4.3/5 </p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re16.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Mahabalipuram</h3>
        <p>Mammalapuram is an excellent destination with a great ambience.The beaches in and around Mahabalipuram are mostly clean, broad and of white sand.A day would be enough to see all the monuments and also relax for a while. Avoid visiting places there in the afternoon as it can be pretty hot.<br> Rating :4.3/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re14.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Munnar</h3>
        <p>Our Munnar trip was entirely good. We had a splendid experience in Munnar.One can get the best trekking and climbing route to reach the various destinations of Munnar.A picturesque and panoramic view of the hill station can relieve us from any anxiety and stress.<br> Rating:4.4/5</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="wrapper">
        <img Src ="../../assets/Images/re13.jpg"  alt="Random third slide" height="100%" width="100%">
      </div>
      <div class="carousel-caption">
        <h3>Colva Beach</h3>
        <p>Colva beach is very good beach of goa.Good place to visit with family but needs a more cleanliness.The ambience is good. Water sports also available there<br> Rating:3.5/5</p>
      </div>
    
    </ng-template>
  

  
