<div class="container mt-4 mb-5">
  <div class="col-lg-6">
    <form class="resetform">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fr">New Password</label>
          <input type="password" class="form-control" id="exampleInputEmail1"  placeholder="enter your password " required>
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label fr">Confirm password</label>
          <input type="password" class="form-control" id="exampleInputEmail1"  placeholder="enter your password " required>
        </div>
        <button type="submit" class="btn btn-warning">Reset Password</button>
       
      </form>
  </div>
    
</div>