.spe{
    color: gold;
}
.title{
 background-image: url('src\assets\Images\a0f51390-29b4-447a-a8f7-a4538b2f5abc.jpg');
 background-size: cover;
 padding: auto;
}

.logo {
    width: 191px;  
}
.login{
    color: rgb(219, 31, 31);
    width: 43px;
    height: 38px;
    padding: 2px;
    margin-left: 13px;
}
.sqr{
border: 2px;
border-style: solid;
}
.about-us{
    background-image: url('/assets/images/.jpg');
    background-size: cover;
}
.bord{
    background-color: white;
    margin-top: 96px;
}
/* footer */
.footer{
    background-color: rgb(33 37 41);
}
.footer > ul > li{
    list-style-type: none;
}
.icon{
    display: inline;
   align-items: center;
    
}
.icon >a{
    color: white;
}
.ico{
    width: 30px;
    height: 46px;
    
}
.copy{
    color: white;
}
.home-page{
    /* background-color: rgb(33 37 41); */
    text-align: center;
}
.card{
    padding:16px;
}
.lin:hover{
    background-color: orange;
}



